NET "clk"  LOC = "V10"	;
#NET clock_display	LOC = V16;

#NET display 	LOC = U16	|	IOSTANDARD = LVCMOS33; #Display LED
#NET button_m	LOC = B8		|	IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE; #Middle Button
PIN "XLXI_113/q_tmp_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET send_en		LOC = B8		|	IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE; #SW0
NET button_r	LOC = D9		|	IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE; #Right Button
NET send			LOC = G3		|	IOSTANDARD = LVCMOS33; #JC4 (wired)
NET rc1			LOC = E11	|	IOSTANDARD = LVCMOS33; #JD4 (wired)

NET in_data<0>	LOC = T10	|	IOSTANDARD = LVCMOS33; #Middle Button
NET in_data<1>	LOC = T9		|	IOSTANDARD = LVCMOS33; #SW1
NET in_data<2>	LOC = V9		|	IOSTANDARD = LVCMOS33; #SW2
NET in_data<3>	LOC = M8		|	IOSTANDARD = LVCMOS33; #SW3
NET in_data<4>	LOC = N8		|	IOSTANDARD = LVCMOS33; #SW4
NET in_data<5>	LOC = U8		|	IOSTANDARD = LVCMOS33; #SW5
NET in_data<6>	LOC = V8		|	IOSTANDARD = LVCMOS33; #SW6
NET in_data<7>	LOC = T5		|	IOSTANDARD = LVCMOS33; #SW7

NET LED<0>	LOC = U16		|	IOSTANDARD = LVCMOS33; #LED0
NET LED<1>	LOC = V16		|	IOSTANDARD = LVCMOS33; #LED1
NET LED<2>	LOC = U15		|	IOSTANDARD = LVCMOS33; #LED2
NET LED<3>	LOC = V15		|	IOSTANDARD = LVCMOS33; #LED3
NET LED<4>	LOC = M11		|	IOSTANDARD = LVCMOS33; #LED4
NET LED<5>	LOC = N11		|	IOSTANDARD = LVCMOS33; #LED5
NET LED<6>	LOC = R11		|	IOSTANDARD = LVCMOS33; #LED6
NET LED<7>	LOC = T11		|	IOSTANDARD = LVCMOS33; #LED7

