NET "CLK"  LOC = "T9"  ;

#NET "BLU"  LOC = "R11"  ;
#NET "GRN"  LOC = "T12"  ;
#NET "RED"  LOC = "R12"  ;
#NET "HS"  LOC = "R9"  ;
#NET "VS"  LOC = "T10"  ;

NET "display"  LOC = "U16"	; #Display LED
NET "button"	LOC = "B8"	; #Middle Button
NET "send"		LOC = "V12"	; #JA2
NET "receive"	LOC = "L3"	; #JB4

NET "databit0"	LOC = "T10"	; #SW0
NET "databit1"	LOC = "T9"	; #SW1
NET "databit2"	LOC = "V9"	; #SW2
NET "databit3"	LOC = "M8"	; #SW3
NET "databit4"	LOC = "N8"	; #SW4
NET "databit5"	LOC = "U8"	; #SW5
NET "databit6"	LOC = "V8"	; #SW6
NET "databit7"	LOC = "T5"	; #SW7